{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content_title %} Bienvenue dans le coté obscur{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="">Some Action</a>
{% endblock %}

{% block main %}
    <table class="datagrid">
        <thead>
        <tr>
            <td>Some Column</td>
            <td>Another Column</td>
        </tr>

    </table>
{% endblock %}
