{% extends 'base.html.twig' %}


{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<div class="container">

    <div class="row">
        <div class="col">
            <h1 class="article-title">{{ article.title }}</h1>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <div id="article-content" class="article-content">
            </div>
        </div>
    </div>

        <div class="article-data d-none"
             data-id="{{ article.id }}">
        </div>
</div>
    {% endblock %}
