

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des articles</h1>
    <ul>


    </ul>
    {# Logique pour afficher la liste des articles ici #}
    {# Utilisez une boucle Twig pour parcourir vos articles #}
{% endblock %}