
<div class="container">
    <div class="row">
        <div class="d-flex align-items-center justify-content-center">
        </div>
    </div>
</div>

    {{ for articles in articles }}
{% include 'article/new.html.twig' %}
{% endfor %}

    {# Logique pour afficher la liste des articles ici #}
    {# Utilisez une boucle Twig pour parcourir vos articles #}
